.title{
    font-size: 50px;  
}

#panel-container{
    margin-top: 50px;
}

#fcol{
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    background-color: #afafaf;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

#c1{
    height: 50px;
    width: 50px;
}

.course-panel, .profile-title{
    font-weight: bold;
    padding-left: 30px;
}

#profile-col{
    padding-left: 30px;
}

.profile-image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 15px;
}

#details-col{
    margin-top:10%
}
.profile-name, .profile-age, .profile-edu{
    padding-bottom: 10px;
}